<!--select ng-options="data.id as data.title for data in $column.data"
        ng-disabled="$filterRow.disabled"
        multiple ng-multiple="true"
        ng-model="params.filter()[name]"
        class="filter filter-select-multiple form-control" name="{{name}}">
</select-->
<ui-select multiple ng-model="params.filter()[name]" class=" custom-match-items"  theme="bootstrap" close-on-select="false" remove-selected="false"  ng-disabled="$filterRow.disabled">
    <ui-select-match placeholder="">
        <p class="ls-match-choice">{{$item.title}}</p>
    </ui-select-match>
    <ui-select-choices repeat="data in $column.data | filter:$select.search">
        <span class="filter-value"  ng-bind-html="data.title | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>
